<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354375974134-4vkbhq8rp4dijq39alh7d57rfjaa7t06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354375974134-4vkbhq8rp4dijq39alh7d57rfjaa7t06</string>
	<key>API_KEY</key>
	<string>AIzaSyBOQUKlu4yWpAWxAhCEfDMh1iQ9FnRxe6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>354375974134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.citruscircuits.qrflutter</string>
	<key>PROJECT_ID</key>
	<string>scouting-2019-cmp-d43a4</string>
	<key>STORAGE_BUCKET</key>
	<string>scouting-2019-cmp-d43a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354375974134:ios:a1bd959b93903331</string>
	<key>DATABASE_URL</key>
	<string>https://scouting-2019-cmp-d43a4.firebaseio.com</string>
</dict>
</plist>